{% extends 'owner/main.html' %}
{% block content %}
{% load static %}

    <div class="container">
        <div class="row">
            {% if items %}
            {% for item in items %}
            <ul class="item-style">
                {% if item.visibleToCostumer %}

                <div class="card" style="width: 18rem;">
                    <img src="{% static item.item_image %}" class="card-img-top" alt="product image">
                    <div class="card-body">
                        <h5 class="card-title"> {{item.name}} </h5>
                        <p class="card-text"> ID: {{item.id}} </p>
                        <p class="card-text"> PRICE: {{item.price}} </p>
                        <p class="card-text"> TIMESTAMP: {{item.timeStamp}} </p>
                        <div class="right-portion item-style">
                            <button class="btn" style="background-color: yellow;"> <a
                                    href="{% url 'owner:edit-item' item_id=item.id %}"> EDIT </a> </button>
                            {% if logged_in_username == 'nilipta' %}
                            <button class="btn" style="background-color: crimson;"> <a
                                    href="{% url 'owner:delete-item' pk=item.id %}"> DELETE </a></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </ul>
            {% endfor %}
            {% else %}
            <h1>No items in shop</h1>
            {% endif %}
        </div>
    </div>

    {% endblock content %}