<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{page_name}} </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'owner:add-item'%}"> Add new </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% if items %}
            {% for item in items %}
            <ul class="item-style">
                {% if item.visibleToCostumer %}

                <div class="card" style="width: 18rem;">
                    {% load static %}
                    <img src="{% static item.item_image %}" class="card-img-top" alt="product image">
                    <div class="card-body">
                        <h5 class="card-title"> {{item.name}} </h5>
                        <p class="card-text"> ID: {{item.id}} </p>
                        <p class="card-text"> PRICE: {{item.price}} </p>
                        <p class="card-text"> TIMESTAMP: {{item.timeStamp}} </p>
                        <div class="right-portion item-style">
                            <button class="btn" style="background-color: yellow;"> <a
                                    href="{% url 'owner:edit-item' item_id=item.id %}"> EDIT </a> </button>
                            <button class="btn" style="background-color: crimson;"> <a
                                    href="{% url 'owner:delete-item' pk=item.id %}"> DELETE </a></button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </ul>
            {% endfor %}
            {% else %}
            <h1>No items in shop</h1>
            {% endif %}
        </div>
    </div>


</body>

</html>̥̥̥