{% extends 'owner/main.html' %}
{% load static %}
{% block content %}

    <p class="description description-second">Signup using email & password</p>
    <form action="{%  url 'welcome:signup'  %}"  method="POST">
        {% csrf_token %}
        <label class="label.input" for="">
            <i class="fas fa-user icon-modify"></i>
            <input type="text" name="name"  placeholder="Name" required>
        </label>

        <label class="label.input" for="">
            <i class="fas fa-envelope icon-modify"></i>
            <input type="email" name="email" placeholder="Email" required>
        </label>

        <label class="label.input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" name="password" placeholder="password" id="password" required>
        </label>     

        <label class="label.input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" name="password2" placeholder="Confirmar password" id="confirm_password" required>
        </label>     
        <button class="btn btn-second">sign up</button>
    </form>



    <p class="description description-second">or use your email account</p>
    <form class="formulario" action="{% url 'welcome:login'  %}" method="POST">
        {% csrf_token %}
        <label class="label.input" for="">
            <i class="fas fa-envelope icon-modify"></i>
            <input type="email" name="email" placeholder="Email">
        </label>
        <label class="label.input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input type="password" name="password" placeholder="Senha">
        </label>
        <button class="btn btn-primary">Sign in</button>
    </form>

    {% endblock content %}